langchain
langgraph
google-generativeai
langchain-google-genai
langchain-community
arxiv
gradio
python-dotenv
ipykernel
langchain-tavily
ddgs
tavily-python
bs4
selenium
webdriver-manager
aiosqlite 
langgraph-checkpoint-sqlite
langgraph-prebuilt
